.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* padding: 20px; */
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #528FC5;
    padding: 10px;
    /* color: #fff; */
    /* width: 100%; */
}
.header span{
    color: #fff;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    /* margin: 10px 0; */
    padding: 10px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
}
.chatMessage {
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    clear: both;
    width: fit-content; 
    max-width: 75%;
}


.userMessage {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    margin-left: auto;
}

.otherMessage {
    background-color: #e1e1e1;
    align-self: flex-start;
    margin-right: auto;
}

.inputContainer {
    display: flex;
    padding: 10px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.inputField {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.sendButton {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;

}

.sendButton:hover {
    background-color: #0056b3;
}
@media (min-width: 768px) {
    .container{
        height: 100vh;
    }
    
}